PORT=5000
MONGODB_URI=
DEFAULT_DB_PATH=/home/quantumec/Documents/DBMS_term_project/sample.db
BENCHMARK_BIN=/home/quantumec/Documents/DBMS_term_project/build/week4_query_benchmark
IMAGE_SEARCH_API=http://127.0.0.1:5001
IMAGE_DIR=/home/quantumec/Documents/DBMS_term_project/data/sample_images
